.custom-img-size {
  width: 15%;
  height: auto;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Ubuntu;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  flex-grow: 1;
}
