
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Ubuntu;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  img {
      width: 50%;
      height: auto;
  }
}