
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Ubuntu;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  flex-grow: 1;
}

.typing-subtitle{
  display: inline-block;
  white-space: nowrap;
  overflow:hidden;
  border-right: 3px solid white;
  animation: blink 1000ms step-end infinite;
}

@keyframes blink {
  from, to {border-color: transparent}
  50% {border-color: white;}
}
